/*Main Css */

::selection {
    background: #ff5e14;
    color: #fff;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: #ff5e14;
}


/* Tabbing CSS */

[class^="box-"] {
    display: none;
}

[class^="box-"].showfirst {
    display: block;
}


/* Accordion CSS */

.myaccordion li .faq-opt {
    display: none;
}

.myaccordion li.active .faq-opt {
    display: block;
}

.myaccordion li.active .faq-ang h4:before {
    content: "\f077";
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-weight: normal;
}

*:hover,
*:focus,
* {
    outline: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

a,
input[type="submit"] {
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    display: inline-block;
    cursor: pointer;
}

a:hover {
    color: #fff;
}

span {
    display: inline-block;
}

textarea,
select,
input[type],
textarea,
select,
button {
    background: transparent;
    border: none;
    border-radius: 0px;
    font-family: "Roboto";
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    opacity: 1;
}


/* Padding Classes */

.pad-sec {}

.pad-zero {
    padding: 0px;
}

.pad-l-zero {
    padding-left: 0px;
}

.pad-r-zero {
    padding-right: 0px;
}

.ovr-hiddn {
    overflow: hidden;
}

.overlay:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.overlay {
    display: none;
}

.overlay.active {
    display: block;
}


/* Heading Classes */

.hding-1 h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}

.hding-2 h2 {}

.hding-3 h3 {}

.hding-4 h4 {}

.hding-5 h5 {}

.hding-6 h6 {}

.para {}

.highlighted {
    color: #fff;
}


/* Custom Slick Css */

.slick-list {
    margin: 0 -15px;
}

.slick-slide {
    margin: 0 15px;
}

.slick-dots {
    padding: 50px 0 0;
    text-align: center;
}

.slick-dots li {
    margin: 0 20px 0 0px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0px;
    border: none;
}

.slick-dots li button:before,
.slick-dots li button:before {
    color: #fff;
    opacity: 1;
    font-size: 20px;
}

.slick-dots li button {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    padding: 0px;
    background: #d6d6d6;
    border: none;
    cursor: pointer;
    font-size: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    box-sizing: border-box;
}

.slick-dots li.slick-active button {
    background: #f3c919;
    width: 11px;
    height: 11px;
}


/*header css*/

header {
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    padding: 5px 0;
}

.main-header {}

.logo {
    display: inline-block;
}

.logo img {
    display: block;
}


/* Hamburger Menu */

.menu-Bar {
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0px;
    margin: auto;
    z-index: 22;
    display: none;
}

.menu-Bar span {
    display: block;
    height: 4px;
    width: 100%;
    background: #0f4c97;
    position: absolute;
    transition: 0.6s all;
    border-radius: 100px;
}

.menu-Bar span:nth-child(1) {
    top: 0;
}

.menu-Bar span:nth-child(2) {
    top: 8px;
    transform-origin: left;
}

.menu-Bar span:nth-child(3) {
    top: 16px;
}

.menu-Bar.open span {
    background: #b70404;
}

.menu-Bar.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
    transform-origin: right-center;
}

.menu-Bar.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.menu-Bar.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
    transform-origin: right-center;
}


/* Menu Css */

.menu {
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 35px;
}

.menu li a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.menu li:hover a,
.menu li.active a {
    color: rgb(240, 90, 35);
}


/* Menu Dropdown CSS */

.dropdown-nav {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.dropdown-nav:hover {
    overflow: visible;
}

ul.dropdown {
    position: absolute;
    width: 100%;
    left: -0px;
    margin: auto;
    background: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 0 10px 3px #00000014;
    opacity: 0;
    animation: btotreverse 0.5s forwards;
}

ul.dropdown li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

ul.dropdown li a {
    padding: 0;
    font-size: 14px;
    color: #000 !important;
    display: block;
    width: 100%;
    margin: 0px 0 15px;
    text-align: center;
    font-weight: 600;
    background: transparent !important;
}

ul.dropdown li.last a {
    margin-bottom: 0px;
}

ul.dropdown li a:hover {
    color: #000 !important;
}

.dropdown-nav:hover ul.dropdown {
    animation: btot 0.5s forwards;
    z-index: 9;
}


/* Dropdown CSS*/

@keyframes btotreverse {
    0% {
        top: 75px;
        opacity: 1;
    }
    100% {
        top: 115px;
        opacity: 0;
    }
}

@keyframes btot {
    0% {
        top: 115px;
        opacity: 0;
    }
    100% {
        top: 40px;
        opacity: 1;
    }
}


/* Main Banner CSS */


/* main-ban */
.sec-heading h2{
    font-size: 80px;
    font-weight: bold;
    color: #0c4ea2;
}
.sec-heading p{
    font-size: 17px;
    font-weight: normal;
    color: #000;
    line-height: 1.5;
    padding-bottom: 20px;
    padding-top: 20px;
}
.main-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}
.banner-content{
    padding-left: 50px;
}

.banner-h2{
    font-size: 106px !important;
    font-weight: bold;
    color: #0c4ea2;
}
.banner-p{
    font-size: 26px !important;
    font-weight: normal;
    color: #717171 !important;
}
.main-btn{
    background-color: #282828;
    color: #fff;
    border-radius: 36px;
    padding: 18px 28px;
    text-transform: uppercase;
}
.blue-btn{
    background-color: #0c4ea2;
    color: #fff;
    border-radius: 36px;
    padding: 18px 28px;
    text-transform: uppercase;
}

/*  */

/* section 01 */

.bg-section-1{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* section 01 */

/* section 02 */

.bg-section-2{
    background-color: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 80px;
}

ul.services-sec-sliders>li {
    display: inline-block;
    width: 19%;
    padding: 0 20px;
    font-size: 0px;
}
ul.services-sec-sliders>li::before {
    content: "";
    background-image: url("assets/images/radius.png");
}
.service-sec-box-body p{
    font-size: 16px;
    font-weight: normal;
    color: #000;
    text-align: center;
    padding-top: 20px;
}


/* section 02 */

/* section 03 */

.bg-section-3{
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 80px;
    padding-bottom: 80px;
}
.shipping-h2{
    font-size: 36px;
    font-weight: bold;
    color: #0c4ea2;
    padding-bottom: 20px;
}
.shipping-p{
    font-size: 17px;
    width: 60%;
    padding-bottom: 20px;
}
/* section 03 */



/* section 04 */
.boy-img{
    margin-top: -50px;
}

/* section 04 */


/* section 05 */
.bg-section-5{
    padding-top: 150px;
    padding-bottom: 150px;
}

/* section 05 */



/* faq */



*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #4d5974;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  } */
  .faq {
    padding: 0px 72px;
    width: 65rem;
  }
  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 22px 10px 22px 10px;
    color: #0c4ea2;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-family: 'Montserrat', sans-serif;
  }
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #0c4ea2;
  }
  .accordion a.active {
    color: #0c4ea2;
  }
  .accordion a::after {
    content: '\f150';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .accordion a.active::after {
    font-family: "Font-Awesome";
    content: '\f150';
    color: #0c4ea2;
  }
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  .accordion .content p {
    font-size: 16px;
    font-weight: normal;
    color: #000;
    width: 85%;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
  }
  .accordion .content.active {
    opacity: 1;
    padding: 30px;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }
/* faq */







@media (max-width: 1440px) {}

@media (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
    .menu-Bar {
        display: block;
        top: 0px;
    }
    .menuWrap.open {
        display: flex;
        left: 0px;
    }
    .menuWrap {
        position: fixed;
        left: -210%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #0f4c97;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        transition: all 0.4s ease;
        z-index: 3;
        width: 100vw;
    }
    ul.menu li {
        display: block;
    }
    ul.menu li a {
        margin-bottom: 10px;
        padding: 0;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        padding-right: 0px;
        margin-right: 0px;
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
    }
    .logo img {
        max-width: 50%;
    }
    .container {
        position: relative;
    }
    header .main-header ul.menu>li {
        display: block;
        margin: 0px;
        padding: 0;
    }
    header .main-header ul.menu>li a {
        color: #fff;
    }
    header .main-header ul.menu>li a:before {
        display: none;
    }
}



@media (max-width: 767px) {
    .sec-heading{
        text-align: center;
    }
    .sec-heading h2{
        font-size: 38px;
        text-align: center;
    }
    .sec-heading p{
        font-size: 17px;
        text-align: center;
        padding: 10px 20px;
    }
    .main-banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .banner-content{
        padding-left: 0px;
    }
    
    .banner-h2{
        font-size: 45px !important;
        text-align: center;
        padding-bottom: 20px;
    }
    .banner-p{
        font-size: 16px !important;
        text-align: center;
    }
    .main-btn{
        padding: 15px 22px;
    }
    .blue-btn{
        padding: 15px 22px;
    }
    
    /*  */
    
    /* section 01 */
    
    .bg-section-1{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    /* section 01 */
    
    /* section 02 */
    
    .bg-section-2{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    ul.services-sec-sliders>li {
        width: 32%;
        padding: 0px 5px;
    }

    ul.services-sec-sliders>li::before {
        content: "";
        background-image: url("assets/images/radius.png");
    }
    .service-sec-box-body p{
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* section 02 */
    
    /* section 03 */
    
    .bg-section-3{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .shipping-content{
        text-align: center;
    }
    .shipping-h2 {
        padding-bottom: 0px;
    }
    .shipping-p{
        width: 100%;
        padding: 20px;
    }
    /* section 03 */
    /* section 04 */
    .bg-section-4{
        padding-bottom: 30px;
    }
    .boy-img{
        margin-top: -50px;
    }
    
    /* section 04 */
    
    
    /* section 05 */
    .bg-section-5{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    /* section 05 */
    /* faq */
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
      }
      html {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      .faq {
        padding: 0px 35px;
        margin-top: 20px;
      }
      .accordion a {
        font-size: 18px;
      }
      .accordion .content p {
        font-size: 14px;
        width: 100%;
      }
      .accordion .content.active {
        padding: 18px;
      }
}